@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  background-color: #191919;
  color: #ffecff;
  font-family: "Quicksand", serif;
}

nav h1 {
  text-shadow: 2px 2px 5px #ffb1c1;
  font-family: "Exo 2", serif;
}

nav h1::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background-color: #ffecff;
  margin: 8px auto;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #ffb1c1;
  transition: all 0.3s ease-in-out;
}

nav h1:hover::after {
  width: 100%;
}

@media (min-width: 768px) {
  nav h1::after {
    margin: 10px auto;
    height: 6px;
  }
}

@media (min-width: 1024px) {
  nav h1::after {
    margin: 10px auto;
    height: 6px;
  }
}
